<!DOCTYPE html>
<html lang="en" 
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org">
	<head th:fragment="headIndex">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=|, initial-scale=1.0">
	    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/webjars/font-awesone/css/all.css}">
		<title th:text="${title}"></title>
	</head>
	<body>
	  	<div id="containerIndex" class="container-fluid">
	  		<!-- BARRA DE NAVEGACION  -->
			<header th:fragment="headerIndex"> 
			   <div class="row" >
					<div class="col-">				
					</div>
					
					<div>
					</div>
					
					<div>
					</div>
					
					<div class="socialMedia">
					</div>
				</div>
				<!-- <h1 th:text="#{layoutIndex.titleHeaderIndex}">Titulo</h1> -->
			</header>
			<!-- CONTENIDO DINAMICO  -->
			<main id="contentIndex">
			</main>
		</div>
		<!-- PIE DE PAGINA  -->
		<footer th:fragment="footerIndex" class="container-fluid">
			<p>[[#{layoutIndex.textoFooterIndex}]] <a href="www.infoApp.com"></a> @InfoApp- 2021 </p>
			<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		</footer>
	</body>
</html>