<!DOCTYPE html>
<html lang="en" 
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="headIndex">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=|, initial-scale=1.0">
	    <link rel="stylesheet" th:href="@{/css/styles.css}">
	    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
		<title th:text="${title}"></title>
	</head>
	<body>
	  	<div id="containerIndex" class="container-fluid">
	  		<!-- BARRA DE NAVEGACION  -->
			<header th:fragment="headerIndex" class="container-fluid bg-header"> 
			 <div class="container text-center">
                <div  th:insert="fragments/headerRow1.html" class="text-light d-sm-flex justify-content-center align-items-center" > </div>
				<div th:insert="fragments/headerRow2.html" class="row text-center"> </div>
				<div th:insert="fragments/headerRow3NavIndex.html" class="nav-menu"> </div>
			 </div>
				<!-- <h1 th:text="#{layoutIndex.titleHeaderIndex}">Titulo</h1> -->
			</header>
			<!-- CONTENIDO DINAMICO  -->
			<main id="contentIndex">
			</main>
		</div>
		<!-- PIE DE PAGINA  -->
		<footer th:fragment="footerIndex" class="container-fluid bg-dark text-light footerIndex">			
			<div th:insert="fragments/footerIndexRow1.html" class="row d-sm-flex text-center"> </div>
		    <div th:insert="fragments/footerIndexRow2.html" class="row text-center text-light">	</div>
			<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		</footer>
	</body>
</html>