<!DOCTYPE html>
<html lang="en" 
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org">
	<head th:fragment="headIndex">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=|, initial-scale=1.0">
	    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<title th:text="${title}"></title>
	</head>
	<body>
	  	<div id="containerIndex">
	  		<!-- BARRA DE NAVEGACION  -->
			<header th:fragment="headerIndex"> 
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="container-fluid">
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				      <a class="navbar-brand" href="#">Hidden brand</a>
				      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				        <li class="nav-item">
				          <a class="nav-link active" aria-current="page" href="#">Home</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="#">Link</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				        </li>
				      </ul>
				      <form class="d-flex">
				        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				        <button class="btn btn-outline-success" type="submit">Search</button>
				      </form>
				    </div>
				  </div>
				</nav>
				<!-- <h1 th:text="#{layoutIndex.titleHeaderIndex}">Titulo</h1> -->
			</header>
			<!-- CONTENIDO DINAMICO  -->
			<main id="contentIndex">
			</main>
		</div>
		<!-- PIE DE PAGINA  -->
		<footer th:fragment="footerIndex">
			<p>[[#{layoutIndex.textoFooterIndex}]] <a href="www.infoApp.com"></a> @InfoApp- 2021 </p>
			<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
		</footer>
	</body>
</html>