<!DOCTYPE html>
<html lang="en" 
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/extras/spring-segurity">
	<head th:fragment="headProfile">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=|, initial-scale=1.0">
	    <link rel="stylesheet" th:href="@{/css/styles.css}">
	    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
	    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<title th:text="${title}"></title>
	</head>
	<body>
	  	<div id="containerProfile" class="container-fluid">
	  		<!-- BARRA DE NAVEGACION  -->
			<header th:fragment="headerProfile" class="container-fluid bg-header"> 
			    <div class="container text-center">
                     <div  th:insert="fragments/headerRow1.html" class="text-light d-sm-flex justify-content-center align-items-center" > </div>
				     <div th:insert="fragments/headerRow2.html" class="row text-center"> </div>
                </div>
                <div th:insert="fragments/welcomeBar.html" sec:authorize="isAuthenticated()"> </div>
			</header>
			<!-- CONTENIDO DINAMICO  -->
			<section id="contentProfile" class="container-fluid bg-success">
			</section>
		</div>
		<!-- PIE DE PAGINA  -->
		<footer th:fragment="footerProfile" class="container-fluid bg-dark text-light">
			<p>[[#{layoutIndex.textoFooterIndex}]] <a href="www.infoApp.com"></a> @InfoApp- 2021 </p>
		</footer>
	</body>
</html>