<!DOCTYPE html>
<html lang="en" 
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/extras/spring-segurity">
	<head th:fragment="headProfile">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=|, initial-scale=1.0">
	    <link rel="stylesheet" th:href="@{/css/styles.css}">
	    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
		<title th:text="${title}"></title>
	</head>
	<body>
	  	<div id="containerProfile">
	  		<!-- BARRA DE NAVEGACION  -->
			<header th:fragment="headerProfile"> 
				<h1> header Profile</h1>
			</header>
			<!-- CONTENIDO DINAMICO  -->
			<main id="contentProfile">
			</main>
		</div>
		<!-- PIE DE PAGINA  -->
		<footer th:fragment="footerProfile">
			<p>[[#{layoutIndex.textoFooterIndex}]] <a href="www.infoApp.com"></a> @InfoApp- 2021 </p>
			<form method="POST" th:actiom="@{/logout}">
			<a href="#" onclick="this.parentNode.submit();"><button type="button" class="btn btn-warning" th:text="Logout"></button></a>
			</form>
			<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
		</footer>
	</body>
</html>