<div class="container mx-auto">
		<div>
		     <h1> PANEL DE CONTROL</h1>
		</div>
		<!--  <a th:href="@{/users/abm_users}"><button type="button" class="btn btn-warning"> lista de usuarios</button></a> -->
		<div class="row d-sm-flex flex-wrap justify-content-evenly">
		     <div class="col-sm-4"> 
		     	<div class="card border-primary mb-3">
				  <div class="card-header"><h5 class="card-title">Primary card title</h5></div>
				  <div class="card-body text-primary">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a th:href="@{#}" class="btn btn-primary">Ver M&aacute;s</a>
				  </div>
				</div>
		     </div>
		     <div class="col-sm-4"> 
		         <div class="card border-secondary mb-3">
				  <div class="card-header"><h5 class="card-title">Secondary card title</h5></div>
				  <div class="card-body text-secondary">				    
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a th:href="@{#}" class="btn btn-secondary">Ver M&aacute;s</a>
				  </div>
				 </div>
		     </div>
		     <div class="col-sm-4"> 
		     	<div class="card border-success mb-3">
				  <div class="card-header"><h5 class="card-title">Success card title</h5></div>
				  <div class="card-body text-success">				    
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a th:href="@{#}" class="btn btn-success">Ver M&aacute;s</a>
				  </div>
				</div>
		     </div>
		     <div class="col-sm-4"> 
		       <div class="card border-danger mb-3">
				  <div class="card-header"><h5 class="card-title">Danger card title</h5></div>
				  <div class="card-body text-danger">				    
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a th:href="@{#}" class="btn btn-danger">Ver M&aacute;s</a>
				  </div>
				</div>
		     </div>
		     <div class="col-sm-4"> 
		     	<div class="card border-warning mb-3">
				  <div class="card-header"> <h5 class="card-title">Warning card title</h5></div>
				  <div class="card-body">				   
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a th:href="@{#}" class="btn btn-warning">Ver M&aacute;s</a> 
				  </div>
				</div>
		     </div>
		</div>
</div>