<div class="col-sm-4 m-0 p-3">
	<h5>Mision</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis in, deleniti tenetur molestias dicta ducimus commodi, qui illum itaque magnam explicabo distinctio? Ipsam, numquam nostrum maxime quos esse beatae error.</p>    
</div>
<div class="col-sm-4 m-0 p-3">
	<h5>Contactanos</h5>
	<p> <i class="fas fa-map-marker-alt fa-lg"></i>Direccion: Villa Elvira, Buenos Aires, Argentina</p>    
	<p> <i class="fab fa-whatsapp fa-lg"> </i>Telefono:0221-613-0780</p>    
	<p><i class="far fa-envelope fa-lg"></i>Email:estidy@gmail.com</p>    
</div>
<div class="col-sm-4 m-0 p-3">
	<h5>Siguenos</h5>
	<p><a href=""><i class="fab fa-facebook fa-lg"> </i>Facebook</a></p>    
	<p><a href=""><i class="fab fa-twitter fa-lg"> </i>Twitter</a></p>    
	<p><a href=""><i class="fab fa-instagram-square fa-lg"> </i>Instagram</a></p>    
	<p><a href=""><i class="fab fa-youtube fa-lg"> </i>YouTube</a></p>    
</div>