<nav class="navbar navbar-expand-lg">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-light"> <i class="fas fa-align-justify"></i></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			 <ul class="navbar-nav ml-0 mb-2 mb-lg-0 menu d-sm-flex">
				  <li class="nav-item  flex-fill">
					   <a class="nav-link active" aria-current="page" th:href="@{/}"><span>Inicio</span></a>
				  </li>
				  <li class="nav-item flex-fill">
					   <a class="nav-link" th:href="@{/}"><span>Sobre Nosotros</span></a>
				  </li>
				  <li class="nav-item flex-fill">
					   <a class="nav-link" href="#"><span>Contacto</span></a>
				  </li>
				  <li class="nav-item flex-fill">
					   <a class="nav-link" href="#"><span>Menu</span></a>
				  </li>
				  <li class="nav-item flex-fill">
					   <a class="nav-link" href="#"><span>Galeria</span></a>
				  </li>
			 </ul>
			<div class="d-sm-flex ingresar justify-content-end">					        
				  <a th:href="@{${link}}"><button th:text="${text}"  class="btn btn-warning" type="button"></button></a>
			</div>
		</div>
	</div>
</nav>