<div class="col-sm-3 ml-0 my-auto">	
		<p><i class="fas fa-map-marker-alt fa-lg"></i> Av. 7 e/ 610 y 611, Nro. 5477</p>	
</div>
					
<div class="col-sm-2 my-auto">
		<p><i class="fab fa-whatsapp fa-lg"> </i>221-6130780 </p>
</div> 
					
<div class="col-sm-3 my-auto">
		<p><i class="far fa-clock fa-lg"></i>Lun-Dom: 18:00 hs-12:00 hs</p>
</div>
					
<div class="socialMedia col-sm-4 d-sm-flex justify-content-end">							    
		<a href="#"><i class="fab fa-facebook fa-lg"> </i></a>							    
		<a href="#"><i class="fab fa-twitter fa-lg"> </i></a>						    
		<a href="#"><i class="fab fa-instagram-square fa-lg"> </i></a>						    
		<a href="#"><i class="fab fa-youtube fa-lg"> </i></a>
</div>
