<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        PEDIDOS
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
       <div class="accordion-body d-sm-flex-column list-group">
			<a class="list-group-item list-group-item-action mx-auto"th:href="@{/users/addUser}"><span>Comprar</span></a>
			<a class="list-group-item list-group-item-action mx-auto" th:href="@{/users/abm_users}"><span>Ver Mis Pedidos</span></a>
	   </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        PROMOCIONES
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
         <div class="accordion-body d-sm-flex-column list-group">
			<a class="list-group-item list-group-item-action mx-auto"th:href="@{/users/addUser}"><span>Promociones del dia</span></a>
	      </div>
    </div>
  </div>
</div>