@charset "ISO-8859-1";
@font-face {
  font-family: 'aesthetic';
  src: url('/fonts/Aesthetic.ttf') format('truetype')
}
@font-face {
  font-family: 'whiteStorm';
  src: url('/fonts/WhiteStorm.otf') format('truetype')
}
@font-face {
  font-family: 'pacifico';
  src: url('/fonts/PacificoRegular.ttf') format('truetype')
}
/* HEADER INDEX  */
.socialMedia a{text-decoration:none;
               color:white;
               margin-left:4%
               }
.socialMedia a:hover{color:#e1a60b
               }
.menu{width:70%	
}

.ingresar{
	width:30%
}
.btn-bg{
	text-decoration:none
}
a.btn-bg:hover{
	text-decoration:none;
}
.ingresar button:hover{
	font-size: 1em;
	font-style: bold;
}
.main-title{
	font-family: 'aesthetic';
	font-size: 3rem;
	color:white
}
.bg-header{background-color:black	
}
.nav-menu{
  position: absolute;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.7);
  width:100%;
  left:0;
}
.menu a{
	color:white;
	text-decoration:none;
}
.menu a:hover{
	color:#e1a60b;
	text-decoration:none;
}
.menu span:hover{
	color:#e1a60b;
	text-decoration:none;
	border-bottom:2px dashed #e1a60b ;
}

.cardLogin, .card-error{
	margin:10% auto 5%
}
.buttonLogin button{width:100%;}
.bg-gold{ background-color: #e1a60b}
.icon-menu{
	color:white
}

/* CONTENT INDEX  */
.carousel img{
	max-height:500px;
	object-fit: cover;
}
.title_menu{
	font-family: 'Pacifico';
	font-size: 3rem;
	color:crimson;
}
/* FOOTER INDEX  */
.footerIndex a{
	text-decoration:none;
	color:white
}
