<!DOCTYPE html>
<html lang="en"
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/extras/spring-segurity">
<head th:replace="layout/profileLayout::headProfile"></head>
<body>
<header th:replace="layout/profileLayout::headerProfile"></header>
<section class="py-4 row mx-auto">
     <div class="col-sm-2  mx-auto">
         <div sec:authorize="hasAuthority('ADMIN')" th:insert="fragments/menuAdmin.html"> </div>
     </div>
     <div sec:authorize="hasAuthority('ADMIN')" class="col-sm-10 mx-auto">
             <!-- <a href="javascript: history.go(-1)" onClick="javascript :history.back(-1);">Volver</a> -->
             <div class="card">
	              <div class="card-header text-center">
		               <h3>LISTADO DE USUARIOS</h3>
	              </div>
	              <div class="card-body"> 
	                 <div th:if="${users != null and !users.empty}" class="my-4">
			            <table class="table">
		                   <thead>
		                     <tr>
							      <th scope="col">#</th>
							      <th scope="col">NOMBRE USUARIO</th>
							      <th scope="col">ROL/ES</th>
							      <th scope="col">EMAIL</th>
							      <th scope="col">TELEFONO</th>
							      <th scope="col">EDITAR</th>
							      <th scope="col">ELIMINAR</th>
							 </tr>
		                  </thead>
		                  <tbody>
						    <tr th:each="u,iterator : ${users}" >
							      <td scope="row" th:text="${iterator.index+1}"></td>
								  <td th:text="${u.username}"></td>
								  <td> 
								     <div th:each="p : ${u.profiles}"  class="d-flex-column">
			                             <p th:text="${p.name}" class="mx-auto"></p>
			                         </div>
	                              </td>
								  <td th:text="${u.email}"></td>  
								  <td th:text="${u.phone}"></td>
								  <td> <a th:href="@{/users/editUser/} + ${u.id_user}"><button type="button" class="btn btn-warning"><i class="far fa-edit"></i> </button></a> </td>
								  <td> <a th:href="@{/users/deleteUser(id_user=${u.id_user})}"><button type="button" class="btn btn-warning"><i class="far fa-trash-alt"></i> </button> </a> </td>
							  </tr>  
		                  </tbody>
		               </table>
	                 </div>
					 <div th:if="${users == null or users.empty}">
						<p> La Lista de usuarios esta vacia </p>
					 </div>
	            </div>
            </div>
     </div>
</section>
<footer th:replace="layout/profileLayout::footerProfile"></footer>
</body>
</html>