<!DOCTYPE html>
<html lang="en"
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/extras/spring-segurity">
<head th:replace="layout/profileLayout::headProfile"></head>
<body>
<header th:replace="layout/profileLayout::headerProfile"></header>
<section class="py-4 row mx-auto">
     <div sec:authorize="hasAuthority('ADMIN')" class="container mx-auto">
             <!-- <a href="javascript: history.go(-1)" onClick="javascript :history.back(-1);">Volver</a> -->
             <div class="card">
	              <div class="card-header text-center">
		               <h3>LISTADO</h3>
	              </div>
	              <div class="card-body"> 
	                 <div th:if="${sizes != null and !sizes.empty}" class="my-4">
			            <table class="table">
		                   <thead>
		                     <tr>
							      <th scope="col">#</th>
							      <th scope="col">GRAMOS</th>
							      <th scope="col">DESCRIPCION</th>
							      <th scope="col">EDITAR</th>
							      <th scope="col">ELIMINAR</th>
							 </tr>
		                  </thead>
		                  <tbody>
						    <tr th:each="s,iterator : ${sizes}" >
							      <td scope="row" th:text="${iterator.index+1}"></td>
								  <td th:text="${s.grams}"></td> 
								  <td th:text="${s.description}"></td>
								  <td> <a th:href="@{/sizes/editSize/} + ${s.id_size}"><button type="button" class="btn btn-danger"><i class="far fa-edit"></i> </button></a> </td>
								  <td> <a th:href="@{/sizes/deleteSize(id_size=${s.id_size})}"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> </button> </a> </td>
							  </tr>  
		                  </tbody>
		               </table>
	                 </div>
					 <div th:if="${sizes == null or sizes.empty}">
						<p> La Lista esta vacia </p>
					 </div>
	            </div>
            </div>
     </div>
</section>
<footer th:replace="layout/profileLayout::footerProfile"></footer>
</body>
</html>