<!DOCTYPE html>
<html lang="en"
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/extras/spring-segurity">
<head th:replace="layout/profileLayout::headProfile"></head>
<body>
<header th:replace="layout/profileLayout::headerProfile"></header>
<section class="py-4 row mx-auto">
     <div sec:authorize="hasAuthority('ADMIN')" class="container mx-auto">
             <!-- <a href="javascript: history.go(-1)" onClick="javascript :history.back(-1);">Volver</a> -->
             <div class="card">
	              <div class="card-header text-center">
		               <h3>LISTADO DE TIPOS DE CERVEZA</h3>
	              </div>
	              <a th:href="@{/typeBeer/addTypeBeer}"><button type="button" class="btn btn-success"><i class="fas fa-plus-circle"> AGREGAR </i></button> </a>
	              <div class="card-body"> 
	                 <div th:if="${types != null and !types.empty}" class="my-4">
			            <table class="table">
		                   <thead>
		                     <tr>
							      <th scope="col">#</th>
							      <th scope="col">TIPO</th>
							      <th scope="col">DESCRIPCION</th>
							      <th scope="col">EDITAR</th>
							      <th scope="col">ELIMINAR</th>
							 </tr>
		                  </thead>
		                  <tbody>
						    <tr th:each="t,iterator : ${types}" >
							      <td scope="row" th:text="${iterator.index+1}"></td>
								  <td th:text="${t.type}"></td>
								  <td th:text="${t.description}"></td>  
								  <td> <a th:href="@{/typeBeer/editTypeBeer/} + ${t.id_type_beer}"><button type="button" class="btn btn-success"><i class="far fa-edit"></i> </button></a> </td>
								  <td> <a th:href="@{/typeBeer/deleteTypeBeer(id_type_beer=${t.id_type_beer})}"><button type="button" class="btn btn-success"><i class="far fa-trash-alt"></i> </button> </a> </td>
							  </tr>  
		                  </tbody>
		               </table>
	                 </div>
					 <div th:if="${types == null or types.empty}">
						<p> No hay elementos para mostrar </p>
					 </div>
	            </div>
            </div>
     </div>
</section>
<footer th:replace="layout/profileLayout::footerProfile"></footer>
</body>
</html>