<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/profileLayout::headProfile"></head>
<body>
<header th:replace="layout/profileLayout::headerProfile"></header>
<section>
	<h3>-*Listado de Usuarios*-</h3>
	<a th:href="@{/users/addUser}">Agregar Usuario</a>
	<div th:if="${users != null and !users.empty}">
		<table border ="1">
			  <tr>
			    <th>NOMBRE</th>
			    <th>CLAVE</th>
			    <th>EMAIL</th> 
			    <th>TELEFONO</th>
			    <th>EDITAR</th>
			    <th>ELIMINAR</th>
			  </tr> 
			  <tr th:each="u : ${users}">
			    <td th:text="${u.username}"></td>
			    <td th:text="${u.password}"></td>
			    <td th:text="${u.email}"></td>  
			    <td th:text="${u.phone}"></td>
			    <td> <a th:href="@{/users/editUser/} + ${u.id_user}" th:text="Editar"> </a> </td>
			    <td> <a th:href="@{/users/deleteUser(id_user=${u.id_user})}" th:text="Eliminar"> </a> </td>
			  </tr>   
		 </table>
	</div>
	<div th:if="${users == null or users.empty}">
		<p> La Lista de usuarios esta vacia </p>
	</div>
</section>
<footer th:replace="layout/profileLayout::footerProfile"></footer>
</body>
</html>