<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/profileLayout::headProfile"></head>
<body>
<header th:replace="layout/profileLayout::headerProfile"></header>
	<a th:href="@{/users/abm_users}">Volver</a>
	<h1> DATOS DEL USUARIO</h1>
	<form th:action="@{/users/saveUser}" method="POST" th:object="${usr}" class="was-validated">
		<input type="hidden" name="id_user" th:field="*{id_user}"/>
		<br/>
		<label for="username">Nombre de Usuario:</label>
		<input type="text" name="username" th:field="*{username}" required/>
		<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="errorfield"> Error Nombre</span>
		<p th:if="${existUsername}" class="text-danger">El nombre de usuario ya existe</p>
		<br/>
		<label for="email">Email:</label>
		<input type="text" name="email" th:field="*{email}" required/>
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="errorfield"> Formato Incorrecto</span>
		<p th:if="${existEmail}" class="text-danger">El Email Ya existe</p>
		<br/>
		<label for="password">Password:</label>
		<input type="text" name="password" th:field="*{password}" required/>
		<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="errorfield"> Error Password</span>
		<br/>
		<label for="phone">Phone:</label>
		<input type="tel" name="phone" th:field="*{phone}"/>
		<br/>
		<label for="profiles">Roles:</label>
		<select th:field="*{profiles}" multiple="multiple" id="profiles" name="profiles" required>		    
		    <option th:each="p : ${profiles}" th:value="${p.id_profile}" th:text="${p.name}"> </option>
		</select>
		<br/>
		<input type=submit name="Guardar"  value="Guardar"/>
     </form>
<footer th:replace="layout/profileLayout::footerProfile"></footer>
</body>
</html>