<!DOCTYPE html>
<html lang="en"
      xmlns="http//www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/extras/spring-segurity">
<head th:replace="layout/profileLayout::headProfile"></head>
<body>
<header th:replace="layout/profileLayout::headerProfile"></header>
<section class="py-4 row mx-auto">
         <div class="text-center mx-auto" sec:authorize="hasAuthority('VENDEDOR')" th:insert="fragments/contentVendedor.html"> </div>
</section>
<footer th:replace="layout/profileLayout::footerProfile"></footer>
</body>
</html>