<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/indexLayout::headIndex"></head>
<body>
<header th:replace="layout/indexLayout::headerIndex"></header>
<section>
	   <div th:insert="fragments/carrouselIndex.html" class="row"> </div>
    <div class="sectionMenuIndex mx-auto mt-4"> 
             <div class="row text-center">
		               <h3 class="title_menu">Menu</h3>
	         </div>
	         <div class="card-body d-sm-flex justify-content-around"> 
	             <div class="card" style="width: 25rem;">
					  <img src="/images/beer.jpg" class="card-img-top" alt="Agregar Nueva Cerveza">
					  <div class="card-body">
					    <h5 class="card-title">Cerveza</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a th:href="@{#}" class="btn btn-warning">Ver Mas</a>
					  </div>
				 </div>
			     <div class="card" style="width: 25rem;">
					  <img src="/images/snack.jpg" class="card-img-top" alt="Agregar nuevo Snack">
					  <div class="card-body">
					    <h5 class="card-title">Snack</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a th:href="@{#}" class="btn btn-warning">Ver Mas</a>
					  </div>
				 </div>
			 </div>
    </div>
    <div class="sectionPromotionsIndex">
	     <div class="row text-center">
		       <h3 class="title_menu">Promociones</h3>
	     </div>
	     <div class="row row-cols-1 row-cols-md-3 g-4">	        
			  <div class="col">
			    <div class="card h-100">
			      <img src="..." class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			      </div>
			      <div class="card-footer">
			        <small class="text-muted">Last updated 3 mins ago</small>
			      </div>
			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100">
			      <img src="..." class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			      </div>
			      <div class="card-footer">
			        <small class="text-muted">Last updated 3 mins ago</small>
			      </div>
			    </div>
			  </div>
			  <div class="col">
			    <div class="card h-100">
			      <img src="..." class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			      </div>
			      <div class="card-footer">
			        <small class="text-muted">Last updated 3 mins ago</small>
			      </div>
			    </div>
			  </div>
			</div>
	   </div>
</section>
<footer th:replace="layout/indexLayout::footerIndex"></footer>
</body>
</html>