<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/indexLayout::headIndex"></head>
<body>
<header th:replace="layout/indexLayout::headerIndex"></header>
<section>
  <div class="card col-sm-6 mx-auto card-error text-center">
        <h5 class="card-header">Acceso Denegado</h5>
        <div class="card-body">
            <p> Vuelva a intentarlo</p>
        </div>
  </div> 
</section>
<footer th:replace="layout/indexLayout::footerIndex"></footer>
</body>
</html>